@model ISW_GASISW.Models.m_orden_compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>m_orden_compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_emitida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_emitida)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empleado.nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empleado.nombre1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empleado1.nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empleado1.nombre1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proveedor.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proveedor.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
