@model ISW_GASISW.Models.m_orden_compra

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>m_orden_compra</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_emitida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_emitida)
            @Html.ValidationMessageFor(model => model.fecha_emitida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emitido_EMPLEADO_id, "empleado")
        </div>
        <div class="editor-field">
            @Html.DropDownList("emitido_EMPLEADO_id", String.Empty)
            @Html.ValidationMessageFor(model => model.emitido_EMPLEADO_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estado)
            @Html.ValidationMessageFor(model => model.estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.aprobado_EMPLEADO_id, "empleado1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("aprobado_EMPLEADO_id", String.Empty)
            @Html.ValidationMessageFor(model => model.aprobado_EMPLEADO_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROVEEDOR_id, "proveedor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PROVEEDOR_id", String.Empty)
            @Html.ValidationMessageFor(model => model.PROVEEDOR_id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
