@model IEnumerable<ISW_GASISW.Models.m_orden_compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_emitida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado.nombre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado1.nombre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedor.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_emitida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado.nombre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado1.nombre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
