@model ISW_GASISW.Models.M_D_Compra
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Nueva - Compra
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-lg-12">
                <div class="form-group">
                    Seleccione la forma de Compra:
                    @Html.DropDownListFor(m => m.TipoCompra, new SelectList(ViewBag.TipoCompra,"id","nombre"),String.Empty)
                </div>
            </div>
            <br />
            <div class="container table-responsive toggle-circle-filled">
                <div class="col-lg-11">
                    <table id="mytab1" data-filter="#filter" data-filter-text-only="true" class="table" data-page-size="3">
                        <thead>
                            <tr>
                                <th hidden="hidden">
                                    ID Producto
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Presentacion
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Costo
                                </th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td hidden="hidden">
                                        @item.producto.id
                                        @Html.HiddenFor(m => m.id, new { id = item.producto.id.ToString(), Value = item.producto.id.ToString() })
                                    </td>
                                    <td>
                                        @item.producto.nombre
                                    </td>
                                    <td>
                                        @item.producto.presentacion_producto.nombre
                                    </td>
                                    <td>
                                        @item.producto.categoria_producto.nombre
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Cant)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.cost)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
