<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GASISW - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap_paper.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/footable.core.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/footable.metro.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
</head>
<body>
    <!-- Navegador Superior -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GASISW</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user fa-2x"></span>@Session["Usuario"]
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Perfil</a></li>
                            <li>@Html.ActionLink("Cerrar Session", "LogOut", "Home",new{@class="fa fa-sign-out fa-2x"})</li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div id="accordion" class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Gasolina">
                                    <span class="fa fa-tint fa-2x"></span>Gasolinera
                                </a>
                            </h4>
                        </div>
                        <div id="Gasolina" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-stacked">
                                    <li>@Html.ActionLink("Despacho de Gasolina", "Index", "Gasolina")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Mantenimientos">
                                    <span class="fa fa-pencil fa-2x"></span>Mantenimientos
                                </a>
                            </h4>
                        </div>
                        <div id="Mantenimientos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-stacked">
                                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                                    <li>@Html.ActionLink("Proveedores", "Index", "Proveedor")</li>
                                    <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                                    <li>@Html.ActionLink("Secciones de Bodega", "Index", "SeccionBodega")</li>
                                    <li>@Html.ActionLink("Categoria de Producto", "Index", "CategoriaProducto")</li>
                                    <li>@Html.ActionLink("Presentacion de Producto", "Index", "PresentacionProducto")</li>
                                    <li>@Html.ActionLink("Producto", "Index", "Producto2")</li>
                                    <li>@Html.ActionLink("Cajas", "Index", "Caja")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Procesos">
                                    <span class="fa fa-exchange fa-2x"></span>Procesos
                                </a>
                            </h4>
                        </div>
                        <div id="Procesos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-stacked">
                                    <li>@Html.ActionLink("Orden de Compra", "Index", "OrdenCompra")</li>
                                    <li>@Html.ActionLink("Compras", "Index", "Compra")</li>
                                    <li>@Html.ActionLink("Nota Credito Compras", "Index", "NotaCreditoCompra")</li>
                                    <li>@Html.ActionLink("Ventas", "Index", "Venta")</li>
                                    <li>@Html.ActionLink("Nota Credito Ventas", "Index", "NotaCreditoVenta")</li>
                                    <li>@Html.ActionLink("Entrega de Caja", "Entrega", "Caja")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Consultas">
                                    <span class="fa fa-search fa-2x"></span>Consultas y Reportes
                                </a>
                            </h4>
                        </div>
                        <div id="Consultas" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#Consultas" href="#ConGeneral">
                                                <span class="fa fa-book fa-2x"></span>Consultas Generales
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ConGeneral" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav nav-stacked">
                                                <li>Algo</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#Consultas" href="#ConCompras">
                                                <span class="fa fa-book fa-2x"></span>Consultas de Compras
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ConCompras" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav nav-stacked">
                                                <li>@Html.ActionLink("Compras Proveedor/Fecha", "DatosReporteCompras", "Compra")</li>
                                                <li>@Html.ActionLink("Detalle Compra", "CompraDetalle", "Compra")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#Consultas" href="#ConVentas">
                                                <span class="fa fa-book fa-2x"></span>Consultas de Ventas
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ConVentas" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav nav-stacked">
                                                <li>@Html.ActionLink("Detalle Factura", "FacturaDetalle", "Facturacion")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#Consultas" href="#ConCajas">
                                                <span class="fa fa-book fa-2x"></span>Consultas de Cajas
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ConCajas" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav nav-stacked">
                                                <li>Algo</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Opciones">
                                    <span class="fa fa-cog fa-2x"></span>Opciones del Sistema
                                </a>
                            </h4>
                        </div>
                        <div id="Opciones" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#Opciones" href="#Parametros">
                                                Parametros
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="Parametros" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav nav-stacked">
                                                <li>@Html.ActionLink("Departamento", "Index", "Departamento")</li>
                                                <li>@Html.ActionLink("Municipio", "Index", "Municipio")</li>
                                                <li>@Html.ActionLink("Sucursal", "Index", "Sucursal")</li>
                                                <li>@Html.ActionLink("Tipo de Facturacion", "Index", "TipoFacturacion")</li>
                                                <li>@Html.ActionLink("Tipo de Movimiento de Caja", "Index", "TipoMovimientoCaja")</li>
                                                <li>@Html.ActionLink("Tipo de Compra", "Index", "TipoCompra")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-stacked">
                                    <li>@Html.ActionLink("Roles", "Index", "Rol")</li>
                                    <li>@Html.ActionLink("Area de Acceso", "Index", "Formularios")</li>
                                    <li>@Html.ActionLink("Permisos de Acceso", "Index", "Permisos")</li>
                                    <li>@Html.ActionLink("Asignacion de Permisos", "Index", "Accesos")</li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                                    <li>@Html.ActionLink("Activacion/Desactivacion de productos", "Activacion", "Producto2")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <footer>Universidad Francisco Gavidia | Ingenieria del Software 2 | Grupo 1 | 2015</footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.paginate.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.sort.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.filter.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("table").footable();
    });
    </script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d'
            });
        });
    </script>    

    <script>
        $(document).ready(function () {
            $('#addRow').on('click', function () {
                var original = document.getElementById("fila");
                var nuevo = original.cloneNode(true);
                destino = document.getElementById("mytab1");
                destino.appendChild(nuevo);
            })
        });
    </script>

</body>
</html>
