@model ISW_GASISW.Models.empleado

@{
    ViewBag.Title = "Detalles - Empleado";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Detalles - Empleado
        </div>
    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="editor-label">
                    Primer nombre
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.nombre1)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Segundo nombre
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.nombre2)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Primer Apellido
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.apellido1)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Segundo Apellido
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.apellido2)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Telefono
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.telefono)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Direccion
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.direccion)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Municipio
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.municipio.nombre)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    Sucursal
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.sucursal.nombre)
                </div>
            </div>
        </fieldset>
        <ul class="nav nav-pills">
            <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = Model.id }) </li>
            <li role="presentation">@Html.ActionLink("Back to List", "Index")</li>
        </ul>
    </div>
</div>