@model ISW_GASISW.Models.empleado

@{
    ViewBag.Title = "Editar - Empleado";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Editar - Empleado
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    <div class="editor-label">
                        Primer Nombre
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.nombre1)
                        @Html.ValidationMessageFor(model => model.nombre1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Segundo Nombre
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.nombre2)
                        @Html.ValidationMessageFor(model => model.nombre2)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Primer Apellido
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.apellido1)
                        @Html.ValidationMessageFor(model => model.apellido1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Segundo Apellido
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.apellido2)
                        @Html.ValidationMessageFor(model => model.apellido2)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Telefono
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.telefono)
                        @Html.ValidationMessageFor(model => model.telefono)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Direccion
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.direccion)
                        @Html.ValidationMessageFor(model => model.direccion)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Municipio
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("MUNICIPIO_id", String.Empty)
                        @Html.ValidationMessageFor(model => model.MUNICIPIO_id)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        Sucursal
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("SUCURSAL_id", String.Empty)
                        @Html.ValidationMessageFor(model => model.SUCURSAL_id)
                        <
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <div class="btn btn-default">
                        @Html.ActionLink("Regresar", "Index")
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
