@model ISW_GASISW.Models.M_PeticionArduino

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Test de Bomba
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="container">
                <fieldset>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            Bomba
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.bomba)
                            @Html.ValidationMessageFor(model => model.bomba)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            Tipo
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.tipo)
                            @Html.ValidationMessageFor(model => model.tipo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            Tiempo
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.tiempo)
                            @Html.ValidationMessageFor(model => model.tiempo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input type="submit" class="btn btn-primary" value="Probar" />
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
